<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <main>
        <div class="container-title">
        <div id="name">
            <h1 class="name-emphasis">B</h1><h1>uster</h1> <h1 class="name-emphasis">B</h1><h1>lock</h1>
        </div>
        <div class="button">
            <span>
                <a href="/movie/new"><button>Add a Movie</button></a>
            </span>
        </div>
    </div>
        <div class="container-movie">
            <% movies.forEach((movie, index) => { %>
                <a href="/movie/<%= movie.id %>"><h2><%= movie.title %></h2></a>
                <div>
                    <span id="index-genre">Genre: <%= movie.genre %></span>
                </div>
                <div class="container-notes">
                    <span><%= movie.notes %></span>
                </div>
                <div class="liked">
                    <label for="isLiked">Liked</label>
                    <input type="checkbox" name="isLiked" <%= movie.isLiked ? "checked" : "" %>>
                </div>
                <div class="manipulate">
                    <a href="/movie/<%= movie._id %>/edit"><button>Edit</button></a>
                    <form action="/movie/<%= movie._id %>?_method=DELETE" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            <% }) %>
        </div>
    </main>
</body>
</html>